html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html *,
html *::before,
html *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 375px;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  background-color: #0d0808;
  position: relative;
  font-style: normal;
  line-height: 1.7;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
}

img {
  height: auto;
  max-width: 100%;
}

input,
textarea,
a,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

:focus {
  outline-style: none;
  outline-width: 0px !important;
  outline-color: transparent !important;
}

// Вспомогательные классы

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden:not(:focus),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 10px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 10px));
}

.swiper-pagination-bullet {
  background: rgba(217, 217, 217, 0.57);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #fff;
}

.swiper .swiper-pagination {
  bottom: 18px;
}

// блок с градиентом и блюром
.blure {
  backdrop-filter: blur(2em);
  -webkit-backdrop-filter: blur(2em);
  box-shadow: 0px 4px 44px rgba(13, 13, 13, 0.2);
  background: radial-gradient(
    99.06% 115.29% at 0.94% 2.17%,
    rgba(255, 255, 255, 0.155) 0%,
    rgba(255, 255, 255, 0.035) 100%
  );
}

// Обёртка
.wrapper {
  max-width: 1488px;
  padding: 0 40px;
  width: 100%;
  margin: 0 auto;
}
// Кнопка
.button {
  text-align: center;
  padding: 10px 17px;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  // border: 1px solid;
  // border-color: #ef3024;
  max-width: max-content;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  transition: all 0.6s;
  background: linear-gradient(136.08deg, #d31027 0%, #ea384d 101.96%);
  box-shadow: 0px 4px 44px rgba(13, 13, 13, 0.2);
  border-radius: 10px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;

  &--icon {
    position: relative;
    width: 100%;
    max-width: 240px;
    justify-content: space-between;

    &:after {
      content: url(../img/button-icon.png);
      display: block;
      width: 30px;
      height: 30px;
      box-shadow: 0px 4px 44px rgba(13, 13, 13, 0.2);
      z-index: 10;
    }
  }

  span {
    pointer-events: none;
    position: relative;
    z-index: 10;
  }
  svg {
    position: relative;
    z-index: 11;
  }

  .decorate {
    position: absolute;
    z-index: 4;
    width: 0;
    height: 0;
    border-radius: 50%;
    // background: #C50219;
    background: linear-gradient(136.08deg, rgba(230, 54, 74, 0.69) 0%, #ea384d 101.96%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: width 0.6s, height 0.6s, color 0.3s, background-color 0.4s;
    pointer-events: none;
  }

  &:hover,
  &:active,
  &:focus {
    .decorate {
      width: 100px;
      height: 100px;
    }
  }
}
.title {
  margin: 0;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.28;
  color: #ffffff;
}
.subtitle {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #ffffff;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 17px;
  line-height: 1;
  letter-spacing: 0.01em;
  color: rgba(255, 255, 255, 0.85);

  img {
    display: block;
    margin-right: 16px;
    max-width: 73px;
    width: 100%;
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 10px;
  position: relative;
  width: 56px;
  height: 56px;
  border: 1px solid #383031;
  background-color: #302627;

  img {
    display: block;
    position: absolute;
    max-width: 36px;
    max-height: 36px;
  }
}

.section {
  padding: 60px 0;
  &--left {
    background-image: url(../img/bg-element.png);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  &--right {
    background-image: url(../img/bg-element.png);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .title {
    margin: 0;
    margin-bottom: 27px;
  }
}

.contacts {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(2, max-content);

  &__link {
    position: relative;
    display: flex;
    align-items: center;

    span {
      margin-left: 10px;
    }

    &::before {
      content: url(../img/icon-tel.svg);
      width: 33px;
      height: 33px;
      display: block;
    }

    &.wtsp::before {
      content: url(../img/icon-whatsapp.svg);
    }
  }
}

// смысловые секции

.header {
  padding: 25px 0 0;
  &__grid {
    display: grid;
    gap: 0 32px;
    align-items: center;
    grid-template-columns: auto max-content;

    .logo {
      margin-right: auto;
    }
  }
}

.preserve {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.first-screen {
  &__grid {
    display: grid;
    gap: 32px;
    align-items: center;
    grid-template-columns: 1fr 1fr;
  }
  &__text {
    border-radius: 20px;
    padding: 30px 40px 40px;
  }
  .title {
    font-size: 50px;
    line-height: 1.14;
    margin-bottom: 11px;
  }
  .subtitle {
    margin-bottom: 31px;
  }
  &__photo img {
    display: block;
  }
}

.benefits {
  margin-top: -50px;
  ul {
    display: grid;
    gap: 25px 32px;
    grid-template-columns: repeat(4, 1fr);
  }
  li {
    display: grid;
    gap: 16px;
    grid-template-columns: auto 1fr;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    color: #fff;
  }
}

.services {
  &__list {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(2, 1fr);
  }
  &__item {
    border-radius: 20px;
    padding: 45px 33px 38px;

    .title {
      font-size: 30px;
      margin-bottom: 29px;
      padding-bottom: 15px;
      position: relative;
      &::after {
        content: "";
        display: block;
        width: 29px;
        height: 1px;
        background: rgba(255, 255, 255, 0.4);
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }
    .text {
      margin: 0;
      font-size: 16px;
      color: #ffffff;
      opacity: 0.8;
      margin-bottom: 47px;
    }
    .price {
      font-weight: 600;
      font-size: 30px;
      color: #ffffff;
      position: relative;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      span {
        margin-right: 12px;
        flex-grow: 2;
      }
      &::before {
        content: "";
        width: 40px;
        height: 40px;
        border-radius: 10px;
        border: 1px solid #3e3b3b;
        background-image: url(../img/icon-rub.svg);
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 16px;
        box-shadow: 0px 4px 44px rgba(13, 13, 13, 0.2);
      }

      .button {
        margin-left: auto;
      }
    }
  }
}

.coach {
  &__grid {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
  }
  &__slider {
    z-index: 0;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 1;
    .swiper {
      width: 568px;
      height: 816px;
    }
  }
  .swiper-slide a {
    display: block;
    cursor: zoom-in;
  }
  .swiper-slide img {
    filter: grayscale(1);
    transition: all 0.3s;
    &:hover,
    &:hover,
    &:active {
      filter: initial;
    }
  }

  &__details {
    z-index: 1;
    grid-column-start: 5;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 1;
    padding: 55px 88px 85px;
    border-radius: 20px;
    display: grid;
    gap: 32px;
    grid-template-columns: 3fr 5fr;
    align-items: baseline;

    .title {
      margin: 0;
      position: relative;
      color: #ffffff;
      font-weight: 700;
      font-size: 24px;
      line-height: 1;
      display: flex;
      align-items: center;
      &::before {
        display: block;
        content: "—";
        color: inherit;
        font-weight: inherit;
        margin-right: 12px;
      }
    }
  }

  &__description {
    .name {
      margin: 0;
      margin-bottom: 19px;
      font-size: 30px;
      font-weight: 700;
    }
    .text {
      margin: 0;
      font-weight: 500;
      font-size: 18px;
      line-height: 1.7;
      color: #ffffff;

      opacity: 0.8;
      h3 {
        margin: 0;
        font-weight: 400;
        font-size: inherit;
      }
      p {
        margin-top: 0;
      }
      P:last-of-type {
        margin-bottom: 0;
      }
    }
    position: relative;

    &:after {
      content: "";
      position: absolute;
      display: block;
      height: 150%;
      width: 1px;
      background-color: #fff;
      opacity: 0.1;
      top: 30%;
      left: -15%;
    }
  }
}

// Адаптив
@media (max-width: 1440px) {
  .first-screen {
    .title {
      font-size: 42px;
    }
  }
}

@media (max-width: 1350px) {
  .benefits ul {
    grid-template-columns: repeat(2, 1fr);
  }
  .coach__details {
    padding: 32px 50px;
    grid-column-start: 6;
    grid-template-columns: 1fr 2fr;
    gap: 16px;
  }
  .coach__description:after {
    left: -10%;
    height: 110%;
  }
}
@media (max-width: 1250px) {
  .first-screen {
    .title {
      font-size: 32px;
    }
    .subtitle {
      font-size: 18px;
      margin-bottom: 16px;
    }
  }

  .first-screen__grid {
    grid-template-columns: 1fr;
    gap: 0;
    position: relative;
  }
  .first-screen__photo {
    order: -1;
  }
  .first-screen__text {
    padding: 22px 32px 32px;
    position: absolute;
    max-width: 45%;
    left: auto;
    right: 40px;
  }
  .first-screen__photo img {
    height: auto;
    max-width: 60%;
    object-fit: cover;
  }
  .services__item .price {
    margin-top: 20px;
  }

  .services__item .price .button {
    margin-left: initial;
  }
  .services__item .text {
    margin-bottom: 22px;
  }
  .services__item .price span {
    margin-right: initial;
  }
  .coach__details .title {
    margin-left: auto;
    text-align: right;
  }

  .coach__details {
    grid-template-columns: 1fr;
    gap: 0;
    margin-left: auto;
    text-align: right;
  }
  .coach__description:after {
    display: none;
  }
  .coach {
    max-width: 100%;
    overflow: hidden;
  }
  .coach__details .title {
    padding-bottom: 20px;
    margin-bottom: 45px;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      display: block;
      height: 1px;
      width: 150%;
      background-color: #fff;
      opacity: 0.1;
      bottom: 0;
      left: 15%;
    }
  }
}
@media (max-width: 1024px) {
  .services__item .title {
    font-size: 25px;
    margin-bottom: 20px;
    padding-bottom: 12px;
  }
  .services__item .text {
    margin-bottom: 16px;
  }
  .services__item .price {
    font-size: 20px;
  }
}
@media (max-width: 900px) {
  .first-screen {
    padding-bottom: 55px;
  }
  .first-screen__text {
    position: initial;
    max-width: 100%;
    margin-top: -100px;
  }
  .first-screen__photo img {
    height: auto;
    max-width: 100%;
    object-fit: contain;
    max-height: 500px;
    margin: 0 auto;
  }
  .benefits {
    margin-top: initial;
  }
  .coach__grid {
    gap: 0;
    grid-template-columns: 1fr;
  }
  .coach__details {
    grid-column-start: initial;
    grid-column-end: initial;
    grid-row-start: initial;
    grid-row-end: initial;
  }
  .coach__slider {
    grid-column-start: initial;
    grid-column-end: initial;
    grid-row-start: initial;
    grid-row-end: initial;
  }
  .coach__details {
    margin-top: -50px;
  }
  .coach__details .title {
    margin-left: initial;
    text-align: initial;
  }
  .coach__description {
    margin-left: initial;
    text-align: initial;
  }
  .coach__slider .swiper {
    height: 537px;
  }
  .coach .swiper-slide img {
    width: 100%;
  }
  .coach .swiper .swiper-pagination {
    bottom: 73px;
  }

  .coach__slider {
    margin-left: -40px;
    margin-right: -40px;
    overflow: hidden;
  }
  .coach__details .title:after {
    left: initial;
    right: 15%;
  }
}

@media (max-width: 768px) {
  .services__list {
    gap: 55px;
    grid-template-columns: 1fr;
  }

  .header {
    padding: 40px 0 0;
    &__grid {
      gap: 0 16px;
    }
  }
  .contacts {
    gap: 24px;
    &__link {
      span {
        display: none;
      }
    }
  }
}

@media (max-width: 700px) {
  .benefits {
    ul {
      gap: 16px;
    }
    li {
      gap: 7px;
      font-size: 14px;
    }
  }
  .icon {
    width: 40px;
    height: 40px;
    padding: 8px;
    img {
      max-width: 28px;
      max-height: 28px;
    }
  }
}

@media (max-width: 650px) {
  .wrapper {
    max-width: 100%;
    padding: 0 20px;
  }

  .coach__slider {
    margin-left: -20px;
    margin-right: -20px;
  }
  .coach__details {
    padding: 36px 20px;
  }
  .coach__details .title {
    font-size: 22px;
  }
  .coach__description .text {
    font-size: 16px;
  }
  .section {
    padding: 42px 0;

    & + & {
      padding-top: 0;
    }
  }

  .coach__details .title:after {
    right: 6%;
  }
}

@media (max-width: 600px) {
  .services__item {
    .price {
      .button {
        margin-top: 20px;
        width: 100%;
        max-width: 100%;
      }
    }
  }
}

@media (max-width: 425px) {
  .first-screen .title {
    font-size: 28px;
  }
  .first-screen__text {
    padding: 32px 20px;
  }
  .first-screen__text {
    margin-top: -60px;
  }

  .first-screen .button--icon {
    width: 100%;
    max-width: 100%;
  }

  .services__item {
    padding: 32px 20px;
  }
  .services__item .title {
    font-size: 20px;
    margin-bottom: 16px;
  }
}
