html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html *,
html *::before,
html *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 375px;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  background-color: #0d0808;
  position: relative;
  font-style: normal;
  line-height: 1.7;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
}

img {
  height: auto;
  max-width: 100%;
}

input,
textarea,
a,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

:focus {
  outline-style: none;
  outline-width: 0px !important;
  outline-color: transparent !important;
}

// Вспомогательные классы

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden:not(:focus),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}
// Обёртка
.wrapper {
  max-width: 1488px;
  padding: 0 40px;
  width: 100%;
  margin: 0 auto;
}
// Кнопка
.button {
  text-align: center;
  padding: 10px 17px;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  // border: 1px solid;
  // border-color: #ef3024;
  max-width: max-content;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  transition: all 0.6s;
  background: linear-gradient(136.08deg, #d31027 0%, #ea384d 101.96%);
  box-shadow: 0px 4px 44px rgba(13, 13, 13, 0.2);
  border-radius: 10px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;

  &--icon {
    position: relative;
    width: 100%;
    max-width: 240px;
    justify-content: space-between;

    &:after {
      content: url(../img/button-icon.png);
      display: block;
      width: 30px;
      height: 30px;
      box-shadow: 0px 4px 44px rgba(13, 13, 13, 0.2);
      z-index: 10;
    }
  }

  span {
    pointer-events: none;
    position: relative;
    z-index: 10;
  }
  svg {
    position: relative;
    z-index: 11;
  }

  .decorate {
    position: absolute;
    z-index: 4;
    width: 0;
    height: 0;
    border-radius: 50%;
    // background: #C50219;
    background: linear-gradient(136.08deg, rgba(230, 54, 74, 0.69) 0%, #EA384D 101.96%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: width 0.6s, height 0.6s, color 0.3s, background-color 0.4s;
    pointer-events: none;
  }

  &:hover,
  &:active,
  &:focus {
    .decorate {
      width: 100px;
      height: 100px;
    }
  }
}
.title {
  margin: 0;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.28;
  color: #ffffff;
}
.subtitle {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #ffffff;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 17px;
  line-height: 1;
  letter-spacing: 0.01em;
  color: rgba(255, 255, 255, 0.85);

  img {
    display: block;
    margin-right: 16px;
    max-width: 73px;
    width: 100%;
  }
}

.contacts {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(2, max-content);

  &__link {
    position: relative;
    display: flex;
    align-items: center;

    span {
      margin-left: 10px;
    }

    &::before {
      content: url(../img/icon-tel.svg);
      width: 33px;
      height: 33px;
      display: block;
    }

    &.wtsp::before {
      content: url(../img/icon-whatsapp.svg);
    }
  }
}

// Шапка
.header {
  padding: 25px 0 0;
  &__grid {
    display: grid;
    gap: 0 32px;
    align-items: center;
    grid-template-columns: auto max-content;

    .logo {
      margin-right: auto;
    }
  }
}

.preserve {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d
}

.first-screen {
  &__grid {
    display: grid;
    gap: 32px;
    align-items: center;
    grid-template-columns: 1fr 1fr;
  }
  &__text {
    background: radial-gradient(99.06% 115.29% at 0.94% 2.17%, rgba(255, 255, 255, 0.155) 0%, rgba(255, 255, 255, 0.035) 100%);
    background-blend-mode: overlay, normal;
    box-shadow: 0px 4px 44px rgba(13, 13, 13, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 30px 40px 40px;
  }
  .title {
    font-size: 50px;
    line-height: 1.14;
    margin-bottom: 11px;
  }
  .subtitle {
    margin-bottom: 31px;
  }
}

// Адаптив
@media (max-width: 650px) {
  .wrapper {
    max-width: 100%;
    padding: 0 20px;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 40px 0 0;
    &__grid {
      gap: 0 16px;
    }
  }
  .contacts {
    gap: 24px;
    &__link {
      span {
        display: none;
      }
    }
  }
}
